<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav style="height: 100px; background-color: #873436;" ></nav>
    </header>
   <form action="/savedChar/<%= result.id%>?_method=PUT" method="POST">
<input type="text" name="name" value="<%= result.name%>">
<br>
<br>

<input type="text" name="patronus" value="<%= result.patronus%>">
<br>
<br>
<input type="text" name="alive" value="<%= result.alive%>">
<br>
<br>
<button type="submit">Update</button>
</form> 

<form action="/savedChar/<%= result.id%>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>
</body>
</html>